*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace
}
.arsg{
  width: "100%";
  backgroundColor: 'black';
  textAlign: 'center';
  justifyContent: 'center';
  alignContent: 'center';
  padding: '30px';
}